
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1><i class="fa fa-address-book"></i>Phone Book App</h1>







<h2>Stimulus Check</h2>

<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>
